// Queries
@import "include-media.scss"
// How to use:
// @include media (">=phone" , "<=desktop")
// 'phone': 375px,
// 'tablet': 768px,
// 'laptop': 992px,
// 'desktop': 1250px,
// 'LGdesktop': 1920px, 

// ---> FONTS <---
// Inter:
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')

// ---> VARIABLES <---
/* Fonts */
$font-primary: 'Inter', sans-serif
$font-secondary: 'Open Sans', sans-serif
$font-color-light: #1f1f1fbd
$font-color-mid: #1f1f1fc2
$font-color-dark: #1f1f1fee
/* Colors */
$color-white: #ffffff
$color-black: #000000
$color-lightgray-light: #eeeeee98
$color-lightgray-mid: #e0e0e0be
$color-lightgray: #b9b9b9
$color-bg-fa: #fafafa
$color-blue-lightest: #94D2BD
$color-blue-light: #0A9396
$color-blue-mid: #005F73
$color-blue-semidark: rgb(17, 24, 39)
$color-blue-dark: #001219
$color-orange-light: #E9D8A6
$color-orange-mid: #EE9B00
$color-orange-dark: #CA6702
$color-red-light: #BB3E03
$color-red-mid: #AE2012
$color-red-dark: #9B2226
/* Utils */
$trans-03: 0.3s linear all
$trans-02: 0.2s linear all
$trans-015: 0.15s linear all
$shadow-1: 0px 0px 15px #dfdfdfa1

// ---> GLOBALS <---
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    font-family: $font-primary
ul
    list-style: none
a
    text-decoration: none
    color: inherit
    transition: $trans-02
    cursor: pointer

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* Navbar */
/* ======================================================================== */
.navbar-container
    background: $color-white
    box-shadow: $shadow-1
    width: 100%
    height: 4rem
    position: fixed
    top: 0
    left: 0
    z-index: 850
    .navbar-center
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 85%
        height: 100%
        margin: 0 auto
        .navbar-left
            .nl-menu-icon
                font-size: 1.5rem
        .navbar-right
            .navbar-right-container
                width: 4rem
                display: flex
                justify-content: space-between
                align-items: center
                .nr-menu-notifications
                    font-size: 1.5rem
                .nr-menu-user
                    font-size: 1.5rem

/* ======================================================================== */
/* Sidebar */
/* ======================================================================== */
.sidebar
    width: 75%
    height: 100vh
    background: $color-blue-semidark
    position: fixed
    top: 0
    left: 0
    transform: translate(-100%)
    transition: $trans-02
    // box-shadow: 15px 0 15px -2px #44444438
.show-sidebar
    transform: translate(0)
    z-index: 1000
// Layout:    
.sidebar-top
    display: flex
    flex-direction: column
    justify-content: space-evenly
    .sb-top-logo-close
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1.3rem 0rem
        width: 85%
        margin: 0 auto
        .sb-top-logo
            color: $color-bg-fa
            font-family: $font-secondary
            letter-spacing: 1px
            font-size: 1.5rem
            font-weight: 300
        .sb-top-close
            color: $color-red-dark
            font-size: 1.7rem
            cursor: pointer
    .sb-top-account
        width: 82%
        height: 4rem
        margin: 0 auto
        display: flex
        align-items: center
        background: #ffffff10
        padding: 0.25rem 0.75rem
        border-radius: 0.7rem
        .acc-img
            height: 100%
            display: grid
            place-items: center
            font-size: 2.5rem
            color: $color-white
            opacity: 0.8
        .acc-info
            margin-left: 5%
            font-family: $font-secondary
            h3
                font-size: 1rem
                font-weight: 400
                letter-spacing: 0.6px
                color: $color-white
            p
                font-size: 0.8rem
                color: $color-white
                opacity: 0.7
.sb-line
    width: 100%
    height: 0.2px
    background: $color-white
    opacity: 0.15
    margin: 1rem 0rem

// Links:
.sidebar-links
    color: $color-white
    width: 93%
    margin: 0 auto
.singleLink-container
    display: flex
    flex-direction: row
    align-items: center
    width: 88%
    margin-left: 12%
    height: 2rem
    background: transparent
    padding: 0.25rem 1.2rem
    border-radius: 0.7rem
    cursor: pointer
    transition: $trans-02
    &:hover
        background: #ffffff10
    .sl-left
        font-size: 0.82rem
    .sl-right
        margin-left: 0.75rem
        letter-spacing: 0.6px
        font-weight: 300
        font-size: 0.82rem

.sb-single-dropdown
    margin: 0.7rem 0rem
    .sideCategory-container
        cursor: auto
        &:hover
            background: transparent

.sideCategory-container
    width: 100%
    height: 2.1rem
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background: ransparent
    padding: 0.25rem 1.2rem
    margin: 0.1rem 0rem
    border-radius: 0.7rem
    cursor: pointer
    transition: $trans-02
    &:hover
        background: #ffffff10
    .sc-left-container
        display: flex
        flex-direction: row
        align-items: center
        .sc-left
            font-size: 1rem
            margin-top: 0.3rem
        .sc-right
            margin-left: 0.6rem
            letter-spacing: 0.6px
            font-weight: 300
            font-size: 0.9rem
    .sc-right-container
        margin-top: 2%
        margin-right: 3%
        opacity: 0.3

/* ======================================================================== */
/* Layout */
/* ======================================================================== */
// Mobile
.main-layout-mobile
    padding-top: 4.55rem
    width: 90%
    margin: 0 auto
.layout-modal
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background: $color-black
    opacity: 0.5
    z-index: 900

/* ======================================================================== */
/* PAGE */
/* ======================================================================== */
.page
    padding-top: 5%
    padding-bottom: 25%
    .page-title
        text-align: center
        h2
            font-size: 2rem
            font-weight: 300
            letter-spacing: 1.2px
        p
            font-size: 0.9rem
            letter-spacing: 2px
            color: $color-lightgray
            padding: 0.5rem 0rem
            line-height: 1.7
    .p-separator
        height: 1px
        margin: 1.8rem auto
        width: 75%
        background: $color-orange-dark
        opacity: 0.6

/* ======================================================================== */
/* FORM */
/* ======================================================================== */
.form-create-container
    .form-create
        background: $color-white
        box-shadow: 0px 0px 15px #cfcfcf52
        padding: 0.5rem 2rem
        .fc-single-input
            display: flex
            flex-direction: column
            margin: 1rem 0rem
            label
                color: $color-blue-mid
                font-size: 0.9rem
                margin-bottom: 0.3rem
            input
                border: 1px solid $color-lightgray
                height: 2rem
                font-size: 1rem
                letter-spacing: 0.7px
                padding-left: 0.45rem
                color: $font-color-dark
                background-color: $color-bg-fa
                &:focus
                    outline-color: $color-blue-light
        .fc-single-check
            flex-direction: row
            align-items: center
            justify-content: center
            margin-top: 1.5rem
            label
                padding-top: 1.7%
            input
                margin-left: 1rem
                height: 1rem
                width: 1rem
/* ======================================================================== */
/* Buttons */
/* ======================================================================== */
.btn-container
    width: 100%
    display: grid
    place-items: center
    padding: 1.5rem 0rem
    // BtnSubmit
    .btn-submit
        width: 85%
        height: 3rem
        outline: none
        border: none
        border-radius: 0.2rem
        background-color: $color-blue-light
        box-shadow: 0px 0px 9px #a1a1a167
        cursor: pointer
        transition: $trans-02
        font-size: 1.1rem
        color: $color-white
        font-weight: 300
        letter-spacing: 2px

/* ======================================================================== */
/* 4. Basic Info CARD */
/* ======================================================================== */
.mobile-card
    width: 100%
    padding: 1.2rem
    background: $color-white
    box-shadow: $shadow-1
    overflow: hidden
    margin-bottom: 1rem
    .card-top
        display: flex
        align-items: center
        margin-bottom: 0.5rem
        .ct-left
            font-size: 2.6rem
            color: $color-red-dark
            opacity: 0.9
        .ct-right
            width: 100%
            margin-top: -3.7%
            margin-left: 2%
            display: flex
            justify-content: space-between
            align-items: center
            font-family: $font-secondary
            .ctr-info
                h3
                    font-size: 0.87rem
                    color: $color-blue-dark
                    letter-spacing: 0.3px
                p
                    font-size: 0.8rem
                    letter-spacing: 0.3px
                    color: $color-lightgray
            .ctr-chart
                margin-top: -2%
                font-size: 1.6rem
                cursor: pointer
    .card-row
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0.3rem 0.85rem
        margin: 0 auto
        margin-bottom: 0.45rem
        border-radius: 0.15rem
        background: $color-lightgray-light
        transition: $trans-02
        color: $color-blue-mid
        h2
            font-weight: 300
            font-size: 0.9rem
        p
            font-weight: 500
            font-size: 0.75rem
            letter-spacing: 0.3px
        &:hover
            background: $color-lightgray-mid

/* ======================================================================== */
/* 5. CHART Patient  */
/* ======================================================================== */
.chart-subtitle
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem
    h1
        font-size: 1.1rem
        letter-spacing: 0.5px
        color: $color-red-light
    span
        font-size: 1.35rem
        color: $color-orange-dark
        margin-bottom: 1%
        margin-right: 3%
        cursor: pointer
.chart-container
    background: $color-white
    box-shadow: $shadow-1
.chart-division
    margin: 1.7rem 0rem
    width: 100%
    height: 1px
    background: $color-lightgray
.security-true
    margin-top: 4%
    font-size: 1.3rem
.security-false
    margin-top: 7%
    color: $color-red-dark
    font-size: 1.1rem

.chart-center
    padding: 2rem 1.5rem
    .chart-person-container
        .chart-row
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            padding: 0.3rem 0.8rem
            margin: 0 auto
            margin-bottom: 0.45rem
            border-radius: 0.25rem
            background: $color-lightgray-light
            transition: $trans-02
            color: $color-blue-mid
            h2
                font-weight: 300
                font-size: 0.85rem
                p
                    font-weight: 500
                    font-size: 0.9rem
                    letter-spacing: 0.3px
                &:hover
                    background: $color-lightgray-mid
    .chart-tutor-container
        .chart-tutor-notutor
            h2
                font-size: 0.97rem
                letter-spacing: 0.2px
                font-weight: 300
                color: $color-blue-dark
                margin-bottom: 0.35rem
            span
                font-size: 0.92rem
                letter-spacing: 0.4px
                font-weight: 500
                color: $color-blue-mid
                cursor: pointer

    .chart-rdv-container
        p
            color: $color-blue-lightest

/* ======================================================================== */
/* 6. DENTIST Create Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 7. DENTIST Basic Info Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 8. DENTIST Chart Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 9. CONSULTAS Menu Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 10. CONSULTAS Patients/Day Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 11. CONSULTAS RDV/Dentist/Day Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 12. CONSULTAS Patients/Security Screen */
/* ======================================================================== */
