@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Fonts */
/* Colors */
/* Transitions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
/* ======================================================================== */
/* Navbar */
/* ======================================================================== */
/* ======================================================================== */
/* Sidebar */
/* ======================================================================== */
/* ======================================================================== */
/* 1. Login Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 2. Dashboard Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 3. PATIENT Create Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 4. PATIENT Basic Info  Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 5. PATIENT Chart Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 6. DENTIST Create Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 7. DENTIST Basic Info Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 8. DENTIST Chart Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 9. CONSULTAS Menu Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 10. CONSULTAS Patients/Day Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 11. CONSULTAS RDV/Dentist/Day Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 12. CONSULTAS Patients/Security Screen */
/* ======================================================================== */

/*# sourceMappingURL=index.css.map */
