@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Fonts */
/* Colors */
/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s linear all;
  cursor: pointer;
}

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
/* ======================================================================== */
/* Navbar */
/* ======================================================================== */
.navbar-container {
  background: white;
  box-shadow: 0px 0px 15px #dfdfdfa1;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar-container .navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.navbar-container .navbar-center .navbar-left .nl-menu-icon {
  font-size: 1.5rem;
}
.navbar-container .navbar-center .navbar-right .navbar-right-container {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container .navbar-center .navbar-right .navbar-right-container .nr-menu-notifications {
  font-size: 1.5rem;
}
.navbar-container .navbar-center .navbar-right .navbar-right-container .nr-menu-user {
  font-size: 1.5rem;
}

/* ======================================================================== */
/* Sidebar */
/* ======================================================================== */
.sidebar {
  width: 78%;
  height: 100vh;
  background: #111827;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: 0.15s linear all;
}

.show-sidebar {
  transform: translate(0);
  z-index: 1000;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sidebar-top .sb-top-logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 0rem;
  width: 85%;
  margin: 0 auto;
}
.sidebar-top .sb-top-logo-close .sb-top-logo {
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}
.sidebar-top .sb-top-logo-close .sb-top-close {
  color: #9B2226;
  font-size: 1.7rem;
}
.sidebar-top .sb-top-account {
  width: 82%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #ffffff10;
  padding: 0.25rem 0.75rem;
  border-radius: 0.7rem;
}
.sidebar-top .sb-top-account .acc-img {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  color: white;
  opacity: 0.8;
}
.sidebar-top .sb-top-account .acc-info {
  margin-left: 5%;
  font-family: "Open Sans", sans-serif;
}
.sidebar-top .sb-top-account .acc-info h3 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: white;
}
.sidebar-top .sb-top-account .acc-info p {
  font-size: 0.8rem;
  color: white;
  opacity: 0.7;
}

.sb-line {
  width: 100%;
  height: 0.2px;
  background: white;
  opacity: 0.15;
  margin: 1rem 0rem;
}

.sidebar-links {
  color: white;
  width: 93%;
  margin: 0 auto;
}

.singleLink-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88%;
  margin-left: 12%;
  height: 2rem;
  background: ransparent;
  padding: 0.25rem 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.2s linear all;
}
.singleLink-container:hover {
  background: #ffffff10;
}
.singleLink-container .sl-left {
  font-size: 0.82rem;
}
.singleLink-container .sl-right {
  margin-left: 0.75rem;
  letter-spacing: 0.6px;
  font-weight: 300;
  font-size: 0.82rem;
}

.sideCategory-container {
  width: 100%;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: ransparent;
  padding: 0.25rem 1.2rem;
  margin: 0.2rem 0rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.2s linear all;
}
.sideCategory-container:hover {
  background: #ffffff10;
}
.sideCategory-container:hover .sc-right-container {
  margin-top: 0.3rem;
  transform: rotate(0deg);
}
.sideCategory-container .sc-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sideCategory-container .sc-left-container .sc-left {
  font-size: 1rem;
  margin-top: 0.3rem;
}
.sideCategory-container .sc-left-container .sc-right {
  margin-left: 0.75rem;
  letter-spacing: 0.6px;
  font-weight: 300;
  font-size: 0.9rem;
}
.sideCategory-container .sc-right-container {
  margin-right: 1%;
  transform: rotate(-90deg);
  transition: 0.2s linear all;
}

.sb-active-link {
  background: #ffffff10;
  color: #EE9B00;
}

.sb-active-category {
  color: #EE9B00;
}
.sb-active-category .sc-right-container {
  margin-top: 0.3rem;
  transform: rotate(0deg);
}

/* ======================================================================== */
/* Layout */
/* ======================================================================== */
.main-layout-mobile {
  padding-top: 4.55rem;
  width: 90%;
  margin: 0 auto;
}

/* ======================================================================== */
/* 1. Login Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 2. Dashboard Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 3. PATIENT Create Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 4. PATIENT Basic Info  Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 5. PATIENT Chart Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 6. DENTIST Create Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 7. DENTIST Basic Info Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 8. DENTIST Chart Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 9. CONSULTAS Menu Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 10. CONSULTAS Patients/Day Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 11. CONSULTAS RDV/Dentist/Day Screen */
/* ======================================================================== */
/* ======================================================================== */
/* 12. CONSULTAS Patients/Security Screen */
/* ======================================================================== */

/*# sourceMappingURL=index.css.map */
