// Queries
@import "include-media.scss"
// How to use:
// @include media (">=phone" , "<=desktop")
// 'phone': 375px,
// 'tablet': 768px,
// 'laptop': 992px,
// 'desktop': 1250px,
// 'LGdesktop': 1920px, 

// ---> FONTS <---
// @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap')

// ---> GLOBALS <---
/* Fonts */
$font-primary: 'Raleway', sans-serif
$font-secondary: 'Cinzel', serif
/* Colors */
$color-bg-fa: #fafafa
/* Transitions */
$main-trans: 0.3s linear all
/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/* ======================================================================== */
/* 1. Login Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 2. Dashboard Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 3. PATIENT Create Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 4. PATIENT Basic Info  Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 5. PATIENT Chart Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 6. DENTIST Create Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 7. DENTIST Basic Info Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 8. DENTIST Chart Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 9. CONSULTAS Menu Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 10. CONSULTAS Patients/Day Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 11. CONSULTAS RDV/Dentist/Day Screen */
/* ======================================================================== */

/* ======================================================================== */
/* 12. CONSULTAS Patients/Security Screen */
/* ======================================================================== */

body
    background: $color-bg-fa
